<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bootstrap.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    
    <script src="angular.js"></script>
    <script src="ui-bootstrap-tpls.js"></script>
    <script src="angular-revive.js"></script>
    <script src="example.js"></script>
</head>
<body ng-app="example">
    <div class="container" ng-controller="exampleCtrl" style="margin-top:40px">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="text-align:center">Revive</h1>
                <h2 style="text-align:center">Bring dead html regions alive</h2>
                <h3>Abstract</h3>
                <p class="para">
                    The <b>revive</b> directive is a trancluding directive that enable you bring alive "dead" regions of html and create
                    imaginative select-like components. You take advantage of the directive's ability to interface with ngModel to porpagate changes
                    between the model and view and vice versa. You enable and disable regions by broadcasting disable/enable events, and as the ability
                    to reset the transcluded directive and start afresh.
                </p>
                <h3>Dependencies</h3>
                <p class="para">
                    The <b>revive</b> sole dependency is on AngularJS 1.5.6 <a src="http://angularjs.org/">get AngularJS</a>
                </p>
                <h3>Demo</h3>
                <p class="para">
                    What we have here is a simple "dead" map-like html element (div containing 4 other divs with no logic whatsoever_. However, once we
                    transclude the container inside the <b>enlighten</b> directive and implement a simple interface (4 events), the "dead" div regions become
                    live and manifest a select-like behavior. As you can see, you gain full programmatic control over the transcluded html elemnt. You can
                    set the number of selections allowed, select and de-select items as well as enabe / disable those any of the items.
                </p>
                <p></p>
            </div>
        </div>
        <div class="row" style="margin-top:30px" ">
            <div class="col-xs-3">
                <p style="margin-top: 25px; font-size:x-large">Selected regions:</p>
                <p style="font-size:x-large">{{mapSelections}}</p>
                <p style="margin-top: 25px; font-size:x-large">Number of selections: {{maxSelections}}</p>
            </div>
            <div class="col-xs-3">
                <div class="map-div">
                    <div revive ng-model="mapSelections" disabled-items="disableMapRegions" reset-select="{{resetMap}}" multiple="{{maxSelections}}">
                        <div ng-controller="mapController" class="map-region {{enabledStateClass}} {{selectedStateClass}}" ng-repeat="location in locations"
                             data-id="location.location"
                             ng-style="{left:location.left, top:location.top }"
                             ng-click="clickEvent($event, location.location)">
                            <div class="title">{{location.location}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-vertical">
                    <label class="btn btn-primary" ng-model="radioModel" ng-click="radioClick($event, 1)" uib-btn-radio="'select1'">select 1</label>
                    <label class="btn btn-primary" style="margin-top:27px;" ng-model="radioModel" ng-click="radioClick($event, 2)" uib-btn-radio="'select2'">select 2</label>
                    <label class="btn btn-primary" style="margin-top:27px;" ng-model="radioModel" ng-click="radioClick($event, 3)" uib-btn-radio="'select3'">select 3</label>
                    <label class="btn btn-primary" style="margin-top:27px;" ng-model="radioModel" ng-click="radioClick($event, 4)" uib-btn-radio="'select4'">select 4</label>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-vertical">
                    <label class="btn btn-primary" ng-model="checkModel.A" ng-click="checkClick($event, 'A')" uib-btn-checkbox>Disable A</label>
                    <label class="btn btn-primary" style="margin-top:27px;" ng-model="checkModel.B" ng-click="checkClick($event, 'B')" uib-btn-checkbox>Disable B</label>
                    <label class="btn btn-primary" style="margin-top:27px;" ng-model="checkModel.C" ng-click="checkClick($event, 'C')" uib-btn-checkbox>Disable C</label>
                    <label class="btn btn-primary" style="margin-top:27px;" ng-model="checkModel.D" ng-click="checkClick($event, 'D')" uib-btn-checkbox>Disable D</label>
                </div>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-danger" ng-model="resetMap" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    Reset select
                </button>
                <button type="button" class="btn btn-success" style="margin-top: 27px;" ng-click="toggleSelectionRegionB()">
                    Toggle Selection: region B
                </button>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-12">
                <p class="para">Setting up the necessary events is trivial and require only a few lines of code.</p>
            </div>
        </div>
        <div>
            <uib-tabset type="pills">
                <uib-tab heading="click event">
                    <pre>
                    <code>
// attach click event to every region in transcluded directive
$scope.clickEvent = function (event, id) {
    // item is disabled - do nothing
    if (meDisabled) {
        return;
    }
    // communicate selected value to revive
    $scope.$emit(MessageItemSelected, id); </ br>
};
                </code>
</pre>
                </uib-tab>
                <uib-tab heading="disable-items">
                    <pre>
                    <code>
// controller level variables
var meDisabled = false;  //signify item is disabled
$scope.enabledStateClass = 'map-region-enabled' // use ng-class to toggle region enabled/disabled state
// listen to disble event from revive
$scope.$on(MessageDisableItems, function (event, disabledList) {
    if (-1 < disabledList.indexOf($scope.$parent.location.location)) {
        $scope.enabledStateClass = 'map-region-disabled';
        meDisabled = true;
    } else {
        $scope.enabledStateClass = 'map-region-enabled';
        meDisabled = false;
    }
});
                </code>
                </pre>
                </uib-tab>
                <uib-tab heading="selection changed">
                    <pre>
                    <code>
// listen to selection changed event
selectionChangedEvent = $scope.$on(MessageSelectionChanged, function (event, selections) {
    if (-1 < selections.indexOf($scope.$parent.location.location)) {
        $scope.selectedStateClass = 'map-region-selected';
    } else {
        $scope.selectedStateClass = "";
    }
});
                </code>
                </pre>
                </uib-tab>
                <uib-tab heading="reset">
                    <pre>
                    <code>
// listen to reset event
SelectResetEvent = $scope.$on(MessageSelectReset, function (event) {
    $scope.selectedStateClass = "";
});
                </code>
                </pre>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-12">
                <p class="para">Below is a detailed description of the <b>revive</b> proerties and events</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Proerties</h3>
                <p class="para">The directive exihibts the following properties</p>
                <h4 class="proertiesDescription">ng-model</h4>
                <p class="para">
                    Two way binding between the directive and the model. Changes to the model are instantaneously reflected in
                    the view and vice-versa.
                </p>
                <h4 class="proertiesDescription">disabled-items</h4>
                <p class="para">
                    An array of items (identifiers) that cannot be manipulated (selected or de-selected should appear disabled) by the user. Content of the array is
                    immediatelly propagated to the transcluded directive via a $broadcast event. It's the responsibility of the transcluded directive to act upon
                    the event and disable/enable to appropriate selective data (regions).
                </p>
                <h4 class="proertiesDescription">reset-select</h4>
                <p class="para">
                    Resets the directive state - clears the selections list and broadcasts a reset event to the underline directive. This is a one-way
                    binding of a scope variable and you initiate a reset event by simply changing the value of the scope variable (true/false or 0/1 will do).
                    Any change in value from the current value will initiate a reset event.

                    Use this event with caution. You want to send a reset event, only if the state of your underline directive has changes in a major way and you want to start afresh.
                </p>
                <h4 class="proertiesDescription">multiple</h4>
                <p class="para">
                    Sets the mode of selection. If the <i>multiple</i> attribute is missing from the directive list of attributes then the directive allows only a single
                    selection (combobox mode). When the directive is in a single selection mode, the value of the ngModel input variable should be a string, as this is
                    the type of the output provided by the directive back to the ngModel.

                    if the <i>multiple</i> attribute appears in the directive's attribute list, then the directive allows multiple selections
                    to be made (listbox mode). if the <i>multiple</i> attribute has no value or its value is not a positive integer (i.e. <i>multiple</i>, <i>multiple="true"</i>,
                    <i>multiple="false"</i>, etc' - take note that a value of 'false' has no bearing on the directive behavior) then the number of allowed selections is unlimited.
                    However, if the value of the <i>multiple</i> attribute is a positive  integer, then that number is taken to be the maximum number of selections allowed.
                    That is, if <i>multiple="2"</i>, then only 2 selections are allowed. Selections are cyclical, so the third object selected by the user will
                    remove the first selected object from the selected item list. When the directive is in multiple selections mode, the value of the ngModel input
                    variable should be an array, as this is the type of the ouput provided by the directive back to the ngModel.

                    When operating in a single selection mode: repeated selections of the same item - selectes that item repeatedly, if you wish to
                    de-select an item without selecting another, use null.

                    When operating in a multiple selections mode: selecting a selected item - de-select that item.
                </p>
                <h3>Events</h3>
                <p class="para">
                    You only need to implement those events which you intend to respond to. If you are not intending to disable any items or
                    reset the directive, then you do not need to implement those events.
                </p>
                <h4 class="proertiesDescription">MessageItemSelected - emitted by the transcluded directive or its children</h4>
                <p class="para">
                    The event is transmitted by the transcluded directive or one of its children with the 'id' of the of the newly selected item. This is usually done from
                    the directive's 'click' event handler (but that of course depends on your logic).

                    Use the conteroller $scope (or scope from link function) rather than $rootscope to transmit the event if use more than one <b>revive</b> directives
                    in your page.

                    The following piece of code is the kind of logic you will need to implement in your directive:
                    <pre><code>
$scope.clickEvent = function (event, id) {
    if (I'm Disabled - do nothing) {
        return;
    }
$scope.$emit(MessageItemSelected, id);
};
                    </code></pre>
                </p>
                <h4 class="proertiesDescription">MessageSelectionChanged - broadcasted by the directive</h4>
                <p class="para">
                    The event is broadcasted from the directive to its transcluded directive and its children in response to a change in the list of selected items, either by user
                    interaction or model intervention. This gives the transcluded directive and/or its children the opprtunity to update (redraw) its/their selected and non-selected
                    items (areas) accordingly.
                    </ br></ br>
                    The following piece of code is the kind of logic you will need to implement in your directive:
                    <pre><code>
$scope.$on(MessageSelectionChanged, function (event, selections) {
	if (I'm in selected list) {
		show that I'm selected
	} else {
		show my normal representation
	}
});
                    </code></pre>
                </p>
                <h4 class="proertiesDescription">MessageDisableItems - broadcasted by the directive</h4>
                <p class="para">
                    Whenever the list of disabled items is changes by the model, the directive will broadcast the updated list to its transcluded directive and its children.
                    This will give the transcluded directive and its children the chance to update (redraw) the view based on changes made by the model.
                    </ br></ br>
                    The following piece of code is the kind of logic you will need to implement in your directive:
                    <pre><code>
$scope.$on(MessageDisableItems, function (event, disabledList) {
    if (I'm in list of disabled items) {
		disable myself
    } else {
		enable myself
    }
});
                    </code></pre>
                </p>
                <h4 class="proertiesDescription">MessageSelectReset - broadcasted by the directive</h4>
                <p class="para">
                    You should use the reset event only if you made major changes to the underline directive in a way that requires the transcluded
                    directive and/or its children to start afresh.
                    </ br></ br>
                    The following piece of code is the kind of logic you will need to implement in your directive:
                    <pre><code>
$scope.$on(MessageSelectReset, function (event) {
    reset logic - such as if I'm selected, de-select myself
});
                    </code></pre>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:50px">
            <div class="col-xs-12">
                <h3>Install with Bower</h3>
                <div class="bowerInstall">$ bower install revive</div>
            </div>
        </div>
    </div>
</body>
</html>
